
/** variable **/

/** Prefixes**/
.shrink { transition: all .2s ease-in-out; }
.shrink:hover { transform: scale(0.); }

/* components */
.container {
   display: table;
  width: 90%;
  padding-left: 5%;
  height: 100%;
}


.side-panel {
  width: 20%;
  float: right;
  background-color: #f0eaea;
  height: 100%; }

/** heading*/

/* Buttons */
.btn, .btn-default {
  border: 1px solid;
  border-radius: 5px; }

.btn-default {
  background-color: white;
  display: block; }

.btn-suggest {
  margin: 0 auto;
  padding: 15px; }

.btn-default:hover {
  background-color: cornflowerblue;
  border: 1px solid white;
  color: white; }

/** modal **/


.modal-interior {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
  .modal {
  
    position: fixed;
    display: block;
  background-color: white;
  top: 20%;
  right: 0;
  border: 1px solid black;
  border-radius: 10px; 
  bottom: 0;
  left: -10%;
  z-index: 999;
  opacity: 1;
  width: 50%;
  pointer-events: none;
  -webkit-transition: all 0.3s;
  margin: 0 auto;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  }

  .closeModal {
    text-align: right;
    font-size: 20px;
    color: black;
  }

  .modal-content {
    padding-left: 20px;
  }

  .modal-image {
    width:30%;
    float: left;
    padding: 0px 30px 30px 30px;
  
  }
  .modal-image > img {
    width: 100%;
  }

  .stats > ul  > li {
    list-style: none;
    display: inline-block;
    padding-right: 20px;
  }


  #popular {
    padding-top:40px;
  }


.search-cont {
  
  margin-left: 0px;
  position: absolute;
  left: 39%;
  width:40%;
  top: 5%;
  padding-bottom: 20px;
}

#trending {
  padding-top: 30px;
}
/* .sortTrendDsc {
  padd
} */
.sortTrendAsc , .sortTrendDsc, .getText {
  border-radius: 5px;
  width: 120px;
  /* padding-left: 10px; */
  display: inline-block;
  color: white;
  background-color: cornflowerblue;
  border-color: cornflowerblue;
  height: 30px;
}
.search {
  border: 1px solid cornflowerblue;
  border-radius: 5px;
  height: 30px;
  width: 50%;
}

.sortTrendAsc:hover {
  color: cornflowerblue;
  background-color: white;
}
.sortTrendDsc:hover {
  color: cornflowerblue;
  background-color: white;
}

.sort {
  padding-top: 60px;
  text-align: center;
}